<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>selectAll</title>
</head>
<body>
    <h1>Lista de Personas</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.id}"></td>
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.apellido}"></td>
            <td th:text="${persona.email}"></td>
            <td><input type="button" value="Actualizar" th:onclick="|window.location.href='@{/formUpdate/{id}(id=${persona.id})}'|"/></td>
        </tr>
        </tbody>
    </table>
</body>
</html>